<% include partials/header.ejs %>

    <body>
    <h1> Welcome to Mercury </h1>
    <br>
    <p>Mercury is the smallest planet, only slightly 
    larger than Earth's moon, and also the closest to 
    the Sun. It is named after the messanger Roman god, 
    Mercury, because it's orbit is the fastest in the 
    solar system. Because it is so close to the sun, Mercury's 
    temperature can reach up to 840 degrees Fahrenheit.</p>
    <br>
    <img src="/img/mercury.png" alt="Mercury" />

<% include partials/footer %>