<% include partials/header.ejs %>

    <body>
    <h1> Welcome to Venus </h1>
    <br>
    <p>Venus is the second planet from the Sun and the
    sixth largest. It is originally named after the 
    Roman goddess of love and beauty and is the only 
    planet in the solar system named after a female. 
    Because it is so close to the sun and is covered 
    in volcanos, Venus is the hottest planet, with 
    temperatures reaching 870 degrees Fahrenheit.</p>
    <br>
    <img src="/img/venus.jpg" alt="Venus" />

<% include partials/footer %>